{% extends 'app/navbar.html' %}
{% load static %} 

{% block content %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/chart.css' %}" />
  </head>

  <body>
    <!-- Display Bar Chart -->
    <div class="chart">
      <canvas id="bar-chart"></canvas>
    </div>

    <!-- Input fields -->
    <div class="container">
      
      <!-- Add data form -->
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="add">Add Data</button>
      </form>
    
      <!-- Reset form -->
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="del">Reset</button>
      </form>
      <br><br>

      <!-- File form -->
      <form method="POST">
        {% csrf_token %}
        {{ file_form }}
        <button type="submit" class="add">Upload</button>
      </form>
    </div>


    {% if form_valid %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      {% comment %} const chartData = '/Users/edsmain/Desktop/test.csv'

      d3.csv(chartData).then(function(points){
        console.log(points)
      }); {% endcomment %}

      const data = {
        labels: ['one','two','three','four','five'] ,
        datasets: [
          {
            label: "# of Items",
            data: [10,12,18,32,56] ,
            borderWidth: 1,
          },
        ],
      };

      const config = {
        type: "bar",
        data, {
          labels: labels,
          datasets: [
            {
              label: "# of Items",
              data: values,
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      };
      const barChart = new Chart(document.getElementById("bar-chart"), config);
    </script>

    <!-- Handle manual data input -->
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const data = {
        labels: [{% for amount in amounts %} "{{ amount.category }}", {% endfor %}],
        datasets: [
          {
            label: "# of Items",
            data: [{% for amount in amounts %} {{ amount.num_of_items }}, {% endfor %}],
            borderWidth: 1,
          },
        ],
      };

      const config = {
        type: "bar",
        data,
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      };
      const barChart = new Chart(document.getElementById("bar-chart"), config);
    </script>
    {% endif %}
  </body>
</html>
{% endblock content %}
