{% extends 'app/navbar.html' %}
<!DOCTYPE html>
{% load static %} {% block navbar %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/chart.css' %}" />
  </head>
  <body>
    <h2>Please upload a .CSV file</h2>

    <!-- Form Input -->
    <div class="container">
      <p>
        Once you've uploaded a file, the data will dynamically update and
        display the chart.
      </p>
      <br />

      <!-- Input/Button fields-->
      <input type="file" id="document" accept=".csv" required />
      <input type="submit" id="upload" value="Upload" />
      <button onclick="updateChart('aceInfo')">Update ACE</button>
      <button onclick="updateChart('acsfInfo')">Update ACSF</button>
      <button onclick="updateChart('legacyInfo')">Update Legacy</button>
    </div>
    <hr />

    <!-- Bar Chart -->
    <div class="chart">
      <canvas id="bar-chart"></canvas>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
      integrity="sha512-SGWgwwRA8xZgEoKiex3UubkSkV1zSE1BS6O4pXcaxcNtUlQsOmOmhVnDwIvqGRfEmuz83tIGL13cXMZn6upPyg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/bar_chart.js' %}"></script>
  </body>
</html>
{% endblock navbar %}
