{% extends 'app/navbar.html' %}
<!DOCTYPE html>
{% load static %} {% block navbar %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/chart.css' %}" />
  </head>
  <body>
    <h2>Please upload a .CSV file</h2>

    <!-- Form Input -->
    <div class="container">
      <p>
        Once you've uploaded a file, the data will dynamically update and
        display the chart.
      </p>
      <br />

      <!-- Input/Button fields-->
      <input type="file" id="document" accept=".csv" required />
      <input type="submit" id="upload" value="Upload" />
    </div>
    <hr />

    <!-- Bar Chart -->
    <div class="chart">
      <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById("myChart");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
{% endblock navbar %}
