{% extends 'app/navbar.html' %}
{% load static %}

{% block content %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/chart.css' %}" />
  </head>
  <body>

    <!-- Display Line Chart -->
    <div class="chart">
      <canvas id="bar-chart"></canvas>
    </div>

    <!-- Input fields -->
    <div class="container">
      
      <!-- Add data form -->
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="add">Add Data</button>
      </form>
    
      <!-- Reset form -->
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="del">Reset</button>
      </form>

    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const data = {
        labels: [{% for amount in amounts %} "{{ amount.category }}", {% endfor %}],
        datasets: [
          {
            label: "# of Items",
            data: [{% for amount in amounts %} {{ amount.num_of_items }}, {% endfor %}],
            borderWidth: 1,
          },
        ],
      };

      const config = {
        type: "line",
        data,
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      };
      const barChart = new Chart(document.getElementById("bar-chart"), config);
    </script>
  </body>
</html>
{% endblock content %}