{% extends 'app/navbar.html' %}
{% load static %}

{% block content %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/piechart.css' %}" />
  </head>
  <body>

    <!-- Display Line Chart -->
    <div class="chart">
      <canvas id="pie-chart"></canvas>
    </div>

    <!-- Input fields -->
    <div class="container">
      
      <!-- Add data form -->
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="add">Add Data</button>
      </form>
    
      <!-- Reset form -->
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="del">Reset</button>
      </form>
      <br><br>

      <!-- Upload form -->
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ file_form }}
        <button type="submit" class="add">Upload</button>
        <p>Please only submit <em style="color:blue;">.xls</em> or <em style="color:blue">.xlsx</em> files.</em></p>
      </form>

    </div>

   {% if data %}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const data = {
        labels: {{ labels|safe }},
        datasets: [
          {
            label: "Piechart Upload Data",
            data: Object.values({{ data|safe }}),
            borderWidth: 1,
          },
        ],
      };

      const config = {
        type: "line",
        data,
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      };
      const pieChart = new Chart(document.getElementById("pie-chart"), config);
    </script>

    {% else %}

    <!-- Handle manual data input -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const data = {
        labels: [{% for value in values %} "{{ value.category }}", {% endfor %}],
        datasets: [
          {
            label: "Piechart Manual Data",
            data: [{% for value in values %} {{ value.num_of_items }}, {% endfor %}],
            borderWidth: 1,
          },
        ],
      };

      const config = {
        type: "pie",
        data,
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      };
      const pieChart = new Chart(document.getElementById("pie-chart"), config);
    </script>
    
    {% endif %}
  </body>
</html>
{% endblock content %}